body{
  font-family: sans-serif;
  margin: 0 4%;
}
header{
  text-align: center;
  background: #ea5169;
}
header img {
  padding: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}
.img {
  display: grid;
  padding: 2%;
  grid-template: auto / repeat (3, 30%);
}
footer {
  background: #ea5169;
}
.list {
  margin: 0 10%;
}
