body{
  font-family: sans-serif;
  margin: 0 4%;
}
header{
    text-align: center;
    background: #ea5169;
  }

}
header img {
  margin-left: 10%;
  padding: 3%;
}
.img {
  display: grid;
  padding: 2%;
  grid-template: 200px 200px / repeat (3, 30%);
}
footer {
  background: #ea5169;
}
